* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: sans-serif;
}

/* NAVBAR */

.container-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
    margin: auto;
}

.container-navbar-left {
    padding: 10px;
}

.container-navbar-middle {
    display: flex;
    color: #20262A;
    width: 407px;
    gap: 31px;
    justify-content: space-between;
}

.container-navbar-middle>a {
    padding: 10px;
    color: #20262A;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.2px;
}

.container-navbar-right>button {
    padding: 10px 36px;
    border-radius: 85px;
    color: #00B6F0;
    border: 1px solid #00B6F0;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
}

.container-navbar-right>button:hover,
.button2:hover,
.button1:hover {
    scale: 102%;
    font-weight: bold;
}

.container-navbar-middle>a:hover {
    color: #00B6F0;
}


/* CONTENT 1 */

.content {
    margin: auto;
    width: 634px;
    padding: 62px 0px;
    text-align: center;
}

.content>h2 {
    color: #F3CD03;
    font-size: 36px;
    font-weight: 450;
    line-height: 42px;
    padding: 10px;
    letter-spacing: 0.1px;
}

.content>h1 {
    font-size: 51px;
    line-height: 42px;
    padding: 10px;
    letter-spacing: 0.1px;
    font-weight: bold;
}

.content>p {
    color: #5C5C5C;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2px;
    padding-top: 10px;
    padding-bottom: 59px;
    width: 439px;
    margin: auto;
}

.content-bottom {
    display: flex;
    gap: 13px;
    justify-content: center;
}

.button1 {
    padding: 10px 36px;
    border-radius: 85px;
    background: #00B6F0;
    color: #fff;
    border: 0;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
}

.button2 {
    padding: 10px 36px;
    border-radius: 85px;
    color: #00B6F0;
    border: 1px solid #00B6F0;
    background-color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
}

/* CONTENT 2 */

.content-2-bg {
    background-color: #182333;
    padding: 100px 20px;
}

.content-2 {
    display: flex;
    margin: auto;
    justify-content: center;
    width: 881px;
    gap: 167px;
}

.content-2-left>h1 {
    width: 185px;
    color: #FFF;
    font-size: 56px;
    line-height: 65px;
    letter-spacing: 0.2px;
    padding: 10px;
}

.content-2-left>p {
    width: 417px;
    color: #FFF;
    font-size: 19px;
    line-height: 30px;
    letter-spacing: 0.2px;
    padding: 10px;
}

.content-2-right>p:first-child {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.1px;
    color: white;
}

.content-2-right>p:last-of-type {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.1px;
    color: white;
    padding: 20px 10px;
    width: 257px;
}

.content-2-right-2 {
    display: flex;
    align-items: center;
}

.content-2-right-2>h1 {
    color: #F3CD03;
    font-size: 72px;
    font-weight: 900;
    line-height: 78px;
    letter-spacing: 0.2px;
    padding: 10px 0;
}

.content-2-right-2>p {
    width: 149px;
    color: #fff;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2px;
    padding: 10px;
}